$lumer-font-family:'Roboto', sans-serif;

$primary-bg-color:#21404b;
$sidebar-bg-color:#38535d;

$primary-color:#ecb52f;
$secondary-color:#d16c70;

$text-dark:#21404b;
$text-light:#fbfbfb;

$grey:#C2C2C2;